.body-container
  .filters-container 
    .dropdown-menus-container
      .dropdown-menu#dropdown-category
        %button.drop-button CATEGORY

        .dropdown-content
          = link_to 'Entrees', filtered_products_path(category: 'entree')
          = link_to 'Second Courses', filtered_products_path(category: 'second-course')
          = link_to 'Desserts', filtered_products_path(category: 'dessert')

      .dropdown-menu#dropdown-sorting
        %button.drop-button SORTING

        .dropdown-content
          = link_to 'A to Z', sorted_products_path(order: 'az')
          = link_to 'Z to A', sorted_products_path(order: 'za')
          = link_to 'Ascending Price', sorted_products_path(order: 'ascending')
          = link_to 'Descending Price', sorted_products_path(order: 'descending')
          

      .dropdown-menu#dropdown-vegetarian
        %button.drop-button VEGETARIAN

        .dropdown-content
          = link_to 'Vegetarian', filtered_products_path(vegetarian: 'vegetarian')
          = link_to 'Non-Vegetarian', filtered_products_path(vegetarian: 'non-vegetarian')

    .price-range-container
      %p.price-range-item.price PRICE

      %p.price-range-item.price#min-slider 15$

      #uislider

      %p.price-range-item.price#max-slider 100$

  .food-items-container
    .border-wrapper
      - @products.each do |product|
        .food-item
          %img.food-image{:src => product.image.url}

          %p.food-name=product.name

          %p.food-category=product.category

          %p.food-price="$#{number_with_precision(product.price, precision: 2)}"
