= # user profile's page

= render 'homepage/header'
%body
  .info-container
    %h1.first-name
      = gravatar_for @user
      = @user.name
    .details-container
      .email-field
        Email: 
        = @user.email

    .buttons-container
      %button.edit-button EDIT
      %button.edit-button DELETE
