- if logged_in?
  = render 'homepage/header'
  %h1.cart-title #{@current_user.name + '\'s orders'}
  %br

  - if @orders.length == 0
    %h2.cart-title You currently have no orders
  - else
    %ul
      - @orders.each do |order|
        %li.cart-item
          %p.cart-text Order with ID: #{order.id}
          %p.cart-text Total: #{order.total}

          = button_to "View order details", root_path, class: "btn btn-secondary"
      

